<ul>
  <li><%= pricing(Pattern.count) %> vehicles</li>
  <li><%= pricing(Vehicle.count) %> trim levels</li>
  <li><%= pricing(Item.count) %> vehicle data</li>
  <li><%= pricing(ItemOption.count) %> options</li>
  <li><%= pricing(DecoderLog.count) %> decodes</li>
</ul>
