<%= form_for(@decode) do |f| %>
  <% if @decode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decode.errors.count, "error") %> prohibited this decode from being saved:</h2>

      <ul>
      <% @decode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'VIN' %><br>
      <%= f.text_field :vin %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
